*{
    color: blue;
}

body {
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: red;
}
h1 {
  color: white;
  text-align: center;
}